@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --primary-text-color: #212121;
  --accent-blue: #2196f3;
  --hero-color: #2f303a;
  --primary-light-color: #ffffff;
  --secondary-text-color: #757575;
  --primary-backround-color: #f5f4fa;
  --secondary-border-color: #ececec;
  --portfolio-projects-border: #eeeeee;
  --social-icon-color: #afb1b8;
  --transparent-grey-color: #2f303acc;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.our-skill-container {
  display: flex;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid var(--secondary-border-color);
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
}

.header-navbar ul {
  display: flex;
}
.header-navbar ul > li:first-child,
.header-navbar ul > li:nth-child(2) {
  margin-right: 53px;
}

.header-navbar .navbar-navlink {
  display: block;
  padding: 32px 10px 32px 10px;
}

a:hover {
  text-decoration: none;
  color: var(--accent-blue);
}
.hero-section {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--primary-light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Roboto";
  font-style: normal;
}
h1 {
  margin-bottom: 30px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: calc(60 / 44);
  font-size: 44px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-light-color);
}
.btn-service11:hover,
:focus {
  color: var(--accent-blue);
}

.btn-for-all {
  background: var(--accent-blue);
  border: none;
  font-family: "Roboto";
  color: var(--primary-light-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
}

.btn-service {
  background: var(--accent-blue);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--primary-light-color);
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 20px;
}

.btn-service:hover,
.btn-service:focus {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--hero-color);
  background-color: var(--secondary-border-color);
}

.btn-service11 {
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto";
  line-height: calc(26 / 16);
  border: none;
  cursor: pointer;
  background: var(--primary-backround-color);
  color: var(--primary-text-color);
}

.navbar-navlink {
  font-weight: 500;
  font-size: 14px;
  color: var(--primary-text-color);
  line-height: calc(16 / 14);

  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contact {
  display: flex;
  margin-left: auto;
}

.header-contact > li:first-child {
  margin-right: 50px;
}

.navbar-studio,
.navbar-portfolio {
  color: var(--accent-blue);

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-blue);
  text-decoration: none;
  line-height: calc(31 / 26);

  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 97px;
}
.info-navlink {
  list-style: none;
  color: var(--secondary-text-color);
  line-height: calc(16 / 14);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}

.body-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.body-section p {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
}

.body-section .container ul {
  display: flex;
}

.list-item {
  width: 270px;
}

.list-item:not(:last-child) {
  margin-right: 30px;
}

h2 {
  list-style: none;
  text-align: center;
  font-weight: 700;
  line-height: calc(42 / 36);
  font-size: 36px;
}
.features {
  list-style: none;
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-text-color);
  line-height: calc(16 / 14);
  margin-bottom: 9px;
}

.whatwedo {
  padding-bottom: 94px;
}

.whatwedo .container ul {
  display: flex;
  margin-top: 50px;
}

.whatwedo-list:not(:last-child) {
  margin-right: 30px;
}
.sub-heading {
  text-align: center;
  font-weight: 500;
  color: var(--primary-text-color);
  line-height: calc(19 / 16);
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.ourteam-text {
  text-align: center;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  line-height: calc(19 / 16);
  font-size: 16px;
  font-weight: 400;
}
.ourteam {
  list-style: none;
  background-color: var(--primary-backround-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.ourteam .container ul {
  display: flex;
  margin-top: 30px;
}

.ourteam-list {
  background-color: var(--primary-light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.ourteam-list:not(:last-child) {
  margin-right: 30px;
}

.address {
  background: var(--hero-color);
  font-weight: 400;
  color: var(--primary-light-color);
  line-height: calc(19 / 16);
  font-size: 14px;
  font-family: "roboto";
}

.address ul li {
  margin-bottom: 2px;
}

.footer-main-container {
  display: flex;
  align-items: baseline;
}

.footer {
  background: var(--hero-color);
  font-weight: 400;
  color: var(--primary-light-color);
  line-height: calc(19 / 16);
  font-size: 14px;
  font-family: "roboto";
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-blue);
  text-decoration: none;
  line-height: calc(31 / 26);
  margin-bottom: 9px;
  display: block;
}

.footer-address-container {
  margin-right: 70px;
}

.find-us-container p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-light-color);
  margin-bottom: 20px;
}

.social-links {
  display: flex;
}

.social-media-links {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-light-color);
}

.social-media-links:hover {
  background-color: var(--accent-blue);
  color: var(--primary-light-color);
}

.social-media-svg {
  fill: currentColor;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul li {
  list-style: none;
}
a {
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  list-style: none;
  line-height: calc(16 / 14);
}

.bottom-footer-address {
  font-weight: 400;
  color: var(--primary-light-color);
  line-height: calc(24 / 14);
  font-size: 14px;
  font-style: normal;
  font-family: "roboto";
}

.apps {
  font-weight: 700;
  color: var(--primary-text-color);
  line-height: calc(36 / 18);
  font-size: 18px;
  letter-spacing: 0.06em;
}

.apps1 {
  font-weight: 400;
  font-size: 16px;
  color: var(--secondary-text-color);
  line-height: calc(30 / 16);
  margin-top: 4px;
}
.bottom-footer {
  font-weight: 400;
  color: var(--secondary-text-color);
  line-height: calc(24 / 14);
  font-size: 14px;
  font-style: normal;
  font-family: "Roboto";
}
.my-button {
  background-color: var(--primary-backround-color);
  color: var(--primary-text-color);
  cursor: pointer;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  padding: 6px 25px 6px 25px;
  height: 38px;
  border-radius: 4px;
}
.my-button:hover,
.my-button:focus {
  background-color: var(--accent-blue);
  color: var(--primary-light-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.active-button-all {
  background-color: var(--accent-blue);
  color: var(--primary-light-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-buttons > li:not(:last-child) {
  margin-right: 8px;
}

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-projects li {
  background-color: var(--primary-light-color);
  margin-bottom: 30px;

  border-radius: 4px;
}

.portfolio-projects li:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(98, 38, 38, 0.12);
}

.portfolio-projects > li:nth-child(n + 7) {
  margin-bottom: 0px;
}

.portfolio-projects li img {
  display: block;
}

.portfolio-text-div {
  border-left: 1px solid var(--portfolio-projects-border);
  border-right: 1px solid var(--portfolio-projects-border);
  border-bottom: 1px solid var(--portfolio-projects-border);
  padding: 20px 24px;
}
.icon,
.smartphone {
  fill: currentColor;
  margin-right: 10px;
}
.icon :hover {
  fill: var(--accent-blue);
}

.our-skills-svg {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--primary-backround-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.ourteam-social-svg {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.ourteam-social-svg > li:not(:last-child) {
  margin-right: 10px;
}
.social-links > li:not(:last-child) {
  margin-right: 10px;
}

.ourteam-social-links {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-icon-color);
  border-radius: 50%;
}

.ourteam-social-links-svg {
  fill: currentColor;
}

.ourteam-social-links .last-child-class {
  margin-right: 0px;
}

.ourteam-social-links:hover {
  color: var(--primary-light-color);
  background-color: var(--accent-blue);
}

.regular-customers-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-brand-list {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.regular-customers-link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: var(--social-icon-color);
}

.regular-customers-svg {
  height: 60px;
  width: 106px;
  fill: currentColor;
}

.regular-customers-link:hover {
  border: 1px solid var(--accent-blue);
}
.what-we-do-images {
  display: flex;
}
.what-we-do-images > li {
  margin-right: 30px;
  position: relative;
}
.desktop-apps-container {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: var(--transparent-grey-color);
  bottom: 0;
}
.desktop-apps-container > p {
  color: var(--primary-light-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 27px;
}
